<div class="col">
    <div class="card border border-dark bg-dark text-light">
        <div class="card-header d-flex justify-content-between bg-dark text-light">
            <div>Bo'lim: {{ article.category }}</div>
            <div>Ko'rganlar: {{ article.views }}</div>
        </div>
        <a href="{% url 'article' article.pk %}">
            <img src="{{ article.get_photo }}" width="200" height="300" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center text-light">{{ article.title }}</h5>
            <p class="card-text">{{ article.content|truncatewords:25 }}</p>
        </div>
        <div class="card-footer bg-dark text-light">
            <div>
                Qo'shilgan vaqti: {{ article.created_at }}
            </div>
        </div>
    </div>
</div>